*{
    margin: 0;
    padding: 0;
}
body,html{
    margin: 0;
    padding: 0;
}
#box1{
    height: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    background-color: blue;
}
#box3{
    height: 200px;
    background-color: green;
}
.container{
    height: 40vh;
}
