*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

#box1{
    height: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    background-color: blue;
}
#box3{
    height: 200px;
    background-color: green;
}
.container{
    width: 100%;
    height: 60vh;
}
